<div [formGroup]="details">
  <input type="text"  formControlName="village"
  class="appearance-none block w-1/2 pl-3  border text-secondary-1000 bg-secondary-600 border-secondary-600
  border-l-0 rounded-r-sm placeholder-gray-400 focus:outline-none  focus:ring-secondary-600 focus:border-secondary-600"
  >
  <input type="text" formControlName="post"
      class="appearance-none block w-1/2 pl-3  border text-secondary-1000 bg-secondary-600 border-secondary-600
      border-l-0 rounded-r-sm placeholder-gray-400 focus:outline-none  focus:ring-secondary-600 focus:border-secondary-600"
      >
</div>
