<div [formGroup]="formGroup" *ngIf="isView">
  <div>{{entity.formName}}</div>
  <div *ngFor="let item of entity.fieldList">
    <div class="mt-4">
      <label for="">{{item.fieldLable}}</label>
    </div>
      <span [ngSwitch]="item.inputType">

        <input [formControlName]="item.fieldName" *ngSwitchCase="'text'" type="text"  class=" border-2 border-red-800 ">

        <input [formControlName]="item.fieldName" *ngSwitchCase="'number'" type="number"  class=" border-2 border-red-800 ">

        <select [formControlName]="item.fieldName" *ngSwitchCase="'select'" class=" border-2 border-red-800 " >
          <option value="test1">Test1</option>
          <option value="test2">Test2</option>
          <option value="test3">Test3</option>
          <option value="test4">Test4</option>
        </select>

        <span *ngSwitchCase="'check'">
          <input [formControlName]="item.fieldName"   type="checkbox" name="" id="" >{{item.placeholder}}
        </span>

       <span *ngSwitchCase="'radio'">
        <input [formControlName]="item.fieldName"  type="radio" name="gender" id="" value="male"> Male
        <input [formControlName]="item.fieldName"  type="radio" name="gender" id=""  value="female"> Female
      </span>

      </span>

      <!-- Error messages -->
      <span>
        <div *ngIf="formGroup.controls[item.fieldName].invalid && (formGroup.controls[item.fieldName].dirty || formGroup.controls[item.fieldName].touched)" class="alert">
          <div *ngIf="formGroup.controls[item.fieldName].errors?.['required']">
            {{item.fieldLable}} field is required
          </div>
          <div *ngIf="formGroup.controls[item.fieldName].errors?.['maxlength']">
            Max length is {{item.validation?.maxLength}}
          </div>
          <div *ngIf="formGroup.controls[item.fieldName].errors?.['min']">
            Min val is 20
          </div>
        </div>
      </span>

  </div>
<button (click)="getData()" [disabled]="formGroup.invalid" [ngClass]="{'bg-green-400': formGroup.valid ,'bg-red-400': formGroup.invalid}" class="border-2 border-gray-700 px-4 py-1.5 rounded">Add data</button>
</div>

