<div class="w-screen h-screen bg-primary">
    <!--top-navbar -->
    <app-top-nav></app-top-nav>

    <div class="grid grid-cols-6 py-4">
      <div class="col-span-2">
        <div class="text-center font-bold text-3xl  text-gradient-to-r from-red-600 to-white">
          Student Form
        </div>
        <div class="container px-4 ">

          <app-input [data]="name"  (response)="catch($event,'name')"></app-input>
          <app-input [data]="mobile" (response)="catch($event,'mobile')"></app-input>
          <app-select [data]="classDta" (response)="catch($event,'class')"></app-select>

          <div class="mt-8">
            <span class="px-4 py-2 bg-green-500 text-white text-sm font-semibold border-8 border-green-500
            rounded-md hover:opacity-80 cursor-pointer shadow" (click)="addStudent()">Add student</span>
          </div>
        </div>
      </div>


      <div class="col-span-4">

        <body class="px-4">
          <div class="text-center font-bold text-3xl  text-gradient-to-r from-red-600 to-white">
            Student Table
          </div>
          <div class="container">
           <app-table [tableHeader]="tableHeader" [tableData]="studentData" (respose)="deleteStudent($event)"></app-table>
          </div>
        </body>
      </div>
    </div>

</div>
