<!-- <app-demo></app-demo> -->

<!-- <div *ngFor="let item of arr">
  {{item}}
</div> -->


<!-- <app-component1></app-component1> -->



<!-- <app-directive></app-directive> -->


<!-- <app-todo-project></app-todo-project> -->


<!-- <app-service-test></app-service-test> -->

<!--
<app-top-nav></app-top-nav>
<router-outlet></router-outlet> -->


 <!-- <div class="my-2 w-40 rounded border border-gray-400">
    <div class="flex items-center justify-between rounded border border-gray-300">
      <input (click)="isView=!isView" [(ngModel)]="visibalData" readonly type="text" class="w-full appearance-none rounded rounded-b px-2 py-2 text-sm text-gray-600 hover:border-white focus:border-white focus:outline-none" placeholder="Select Option" />
      <svg class="mr-1.5 h-4 w-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
        <path d="M310.6 246.6l-127.1 128C176.4 380.9 168.2 384 160 384s-16.38-3.125-22.63-9.375l-127.1-128C.2244 237.5-2.516 223.7 2.438 211.8S19.07 192 32 192h255.1c12.94 0 24.62 7.781 29.58 19.75S319.8 237.5 310.6 246.6z" />
      </svg>
    </div>
    <div class="relative" *ngIf="isView">
      <div class="rounded-b-md border border-t-0 bg-white">
        <ng-container *ngFor="let item of arr">
          <div (click)="selectOption(item)" class="cursor-pointer py-1 text-sm text-gray-600 hover:bg-gray-300 hover:text-gray-800">
            <span class="px-2">{{item.label}}</span>
          </div>
        </ng-container>
      </div>
 </div> -->


<!-- <app-student-form></app-student-form> -->



<!-- <app-form></app-form> -->



<!-- <app-form-factory></app-form-factory> -->

<app-form-call></app-form-call>


<!-- <div [formGroup]="formGroup1">
  <input  type="text" formControlName="studentName"  class=" border-2 border-red-800 ">
  <app-select-comp [arr]="arr1" [FORMgROUP]="formGroup1" [fieldName]="'select1'"></app-select-comp>
  <app-select-comp [arr]="arr2" [FORMgROUP]="formGroup1" [fieldName]="'select2'"></app-select-comp>
</div>

{{formGroup1.value | json}} -->


<!-- <div [formGroup]="formGroup2">
  <input  type="text" formControlName="studentName"  class=" border-2 border-red-800 ">
  <app-select-comp [arr]="arr1" [FORMgROUP]="formGroup2" [fieldName]="'selectData1'"></app-select-comp>
  <app-select-comp [arr]="arr2" [FORMgROUP]="formGroup2" [fieldName]="'selectData2'"></app-select-comp>
</div>

{{formGroup2.value | json}} -->




<!-- <app-test-new></app-test-new> -->




<!-- <div>
  <a routerLink="./home1">Home</a><br>
  <a routerLink="./user1">User1</a><br>
  <a routerLink="./user2">User2</a>
</div>
<router-outlet></router-outlet> -->

<!-- <app-user1></app-user1>
<app-user2></app-user2> -->


<!-- <app-form-call></app-form-call> -->


<!-- <app-pipe-demo></app-pipe-demo> -->
