<div class="my-2 w-40 rounded border border-gray-400 ml-10">
  <div class="flex items-center justify-between rounded border border-gray-300">
    <input  (click)="isView=!isView" [(ngModel)]="visibalData"  type="text" class="w-full appearance-none rounded rounded-b px-2 py-2 text-sm text-gray-600 hover:border-white focus:border-white focus:outline-none" placeholder="Select Option" />
    <svg class="mr-1.5 h-4 w-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
      <path d="M310.6 246.6l-127.1 128C176.4 380.9 168.2 384 160 384s-16.38-3.125-22.63-9.375l-127.1-128C.2244 237.5-2.516 223.7 2.438 211.8S19.07 192 32 192h255.1c12.94 0 24.62 7.781 29.58 19.75S319.8 237.5 310.6 246.6z" />
    </svg>
  </div>
  <div class="relative w-40 " *ngIf="isView">
    <div class="w-full ">
      <div class="rounded-b-md w-full absolute border border-t-0 bg-white">
        <ng-container *ngFor="let item of arr">
          <div (click)="selectOption(item)" class="cursor-pointer py-1 text-sm text-gray-600 hover:bg-gray-300 hover:text-gray-800">
            <span class="px-2">{{item.label}}</span>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<!-- <div [formGroup]="FORMgROUP">
  <select formControlName="fieldName" class=" border-2 border-red-800 " >
    <option value="test1">Test1</option>
    <option value="test2">Test2</option>
    <option value="test3">Test3</option>
    <option value="test4">Test4</option>
  </select>
</div> -->

