<!-- <div class="overflow-y-auto ">
  <table class="min-w-full box-border border-2 border-gray-6 ">
    <thead class="bg-gray-7 box-border border-2 border-gray-6 ">
      <tr class="sticky top-0 whitespace-nowrap pl-1 pr-4 py-3 text-left font-medium text-secondary-250 z-20  opacity-100 ">
        <th class="w-11">
          <input id="default-checkbox" type="checkbox" value=""
            class="w-4 h-4 text-blue-2 bg-gray-100 rounded border-gray-300 focus:ring-blue-2 dark:focus:ring-blue-2 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600 ml-2">
          <span class="border-r-2 border-gray-16 px-2 py-2"></span>
        </th>
        <th class=" text-3sm font-semibold px-3 w-32">
          <div class="border-r-2 border-gray-16 px-2 py-2">Actions</div>
        </th>
        <th class=" text-3sm font-semibold px-3 ">
          <div class="border-r-2 border-gray-16 px-2 py-2">Song</div>
        </th>
        <th class=" text-3sm font-semibold px-3 ">
          <div class="border-r-2 border-gray-16 px-2 py-2">Artist</div>
        </th>
        <th class=" text-3sm font-semibold px-3 ">
          <div class="border-r-2 border-gray-16 px-2 py-2">Year</div>
        </th>
        <th class=" text-3sm font-semibold px-3 ">
          <div class="border-r-2 border-gray-16 px-2 py-2">Song</div>
        </th>
        <th class=" text-3sm font-semibold px-3 w-20">
          <div class="border-r-2 border-gray-16 px-2 py-2">Artist</div>
        </th>
        <th class=" text-3sm font-semibold px-3 w-20">
          <div class="border-r-2 border-gray-16 px-2 py-2">Year</div>
        </th>
      </tr>
    </thead>

    <tbody class="bg-white divide-y">
      <tr class="h-12  bg-opacity-30 border-gray-6 ">

        <td class="">
          <input id="default-checkbox" type="checkbox" value=""
            class="w-4 h-4 text-blue-2 bg-gray-100 rounded border-gray-300 focus:ring-blue-2 dark:focus:ring-blue-2 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600 ml-2">
        </td>

        <td class="content-center">
          <span class="flex flex-row ">
            Action
          </span>
        </td>

        <td class="text-3md  h-5 cursor-pointer text-blue-1">
          <span class="w-60">
            The Sliding Mr. Bones
          </span>
        </td>
        <td class="text-3md  h-5  text-gray-15">
          <span class="w-60">
            Malcolm Lockyer
          </span>
        </td>
        <td class="text-3md  h-5  text-gray-15">
          <span class="w-60">
            1961
          </span>
        </td>
        <td class="text-3md  h-5  text-gray-15">
          <span class="w-60">
            The Sliding Mr. Bones
          </span>
        </td>
        <td class="text-3md  h-5  text-gray-15">
          <span class="w-60">
            Malcolm Lockyer
          </span>
        </td>
        <td class="text-3md  h-5  text-gray-15">
          <span class="w-60">
            1961
          </span>
        </td>


      </tr>


      <tr class="h-12  bg-opacity-30 border-gray-6 ">

        <td class="">
          <input id="default-checkbox" type="checkbox" value=""
            class="w-4 h-4 text-blue-2 bg-gray-100 rounded border-gray-300 focus:ring-blue-2 dark:focus:ring-blue-2 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600 ml-2">
        </td>

        <td class="content-center">
          <span class="flex flex-row ">
            Action
          </span>
        </td>

        <td class="text-3md  h-5 cursor-pointer text-blue-1">
          <span class="w-60">
            The Sliding Mr. Bones
          </span>
        </td>
        <td class="text-3md  h-5  text-gray-15">
          <span class="w-60">
            Malcolm Lockyer
          </span>
        </td>
        <td class="text-3md  h-5  text-gray-15">
          <span class="w-60">
            1961
          </span>
        </td>
        <td class="text-3md  h-5  text-gray-15">
          <span class="w-60">
            The Sliding Mr. Bones
          </span>
        </td>
        <td class="text-3md  h-5  text-gray-15">
          <span class="w-60">
            Malcolm Lockyer
          </span>
        </td>
        <td class="text-3md  h-5  text-gray-15">
          <span class="w-60">
            1961
          </span>
        </td>


      </tr>


      <tr class="h-12  bg-opacity-30 border-gray-6 ">

        <td class="">
          <input id="default-checkbox" type="checkbox" value=""
            class="w-4 h-4 text-blue-2 bg-gray-100 rounded border-gray-300 focus:ring-blue-2 dark:focus:ring-blue-2 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600 ml-2">
        </td>

        <td class="content-center">
          <span class="flex flex-row ">
            Action
          </span>
        </td>

        <td class="text-3md  h-5 cursor-pointer text-blue-1">
          <span class="w-60">
            The Sliding Mr. Bones
          </span>
        </td>
        <td class="text-3md  h-5  text-gray-15">
          <span class="w-60">
            Malcolm Lockyer
          </span>
        </td>
        <td class="text-3md  h-5  text-gray-15">
          <span class="w-60">
            1961
          </span>
        </td>
        <td class="text-3md  h-5  text-gray-15">
          <span class="w-60">
            The Sliding Mr. Bones
          </span>
        </td>
        <td class="text-3md  h-5  text-gray-15">
          <span class="w-60">
            Malcolm Lockyer
          </span>
        </td>
        <td class="text-3md  h-5  text-gray-15">
          <span class="w-60">
            1961
          </span>
        </td>


      </tr>


    </tbody>
  </table>
</div> -->
