<!-- <div class="h-screen overflow-hidden">
  <div class="bg-orange-300 py-4">Top NAV</div>
  <div class="flex justify-start bg-blue-300">
    <div class="relative h-screen px-8 bg-red-300">
      <div class="z-10 file:w-full h-screen whitespace-nowrap">
        Side Nav
      </div>
    </div>
    <div class="overflow-y-auto border-gray-400 grid-hight px-5">
      <table class="min-w-full ">
        <thead>
          <tr class="border-b border-gray-300 ">
            <th *ngFor="let col of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,16,17,18,19,20,21,22]; index as i" scope="col"
              class="bg-white sticky top-0 whitespace-nowrap py-4 text-left font-medium z-10"
              [class.header-row]="i===0 || i===1" [ngClass]="{'left-0': i===0 ,'left-48':i===1}">
              <div class="w-48">
                First Name
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of [1,2,3,4,5,6,7,8,9,10,11,12,13,14];index as i">
            <td *ngFor="let col of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,16,17,18,19,20,21,22];index as ci"
              class="py-4 text-sm text-gray-600 font-normal" [class.header]="ci===0 || ci==1" [ngClass]="{'bg-white left-0': ci==0,'left-48': ci==0}">
              <span>
                Manish Pandey
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div> -->
