<div [formGroup]="formGroup">
  <app-form-input [fieldName]="'studentName'" [formGroup]="formGroup"></app-form-input>
  <app-form-select  [fieldName]="'studentClass'" [formGroup]="formGroup"></app-form-select>
  <app-form-radio  [fieldName]="'gender'" [formGroup]="formGroup"></app-form-radio>
  <app-form-checkbox  [fieldName]="'isStoreInfo'" [formGroup]="formGroup"></app-form-checkbox>
</div>

<br>
<span (click)="addData()" class="px-5 py-1 text-sm rounded bg-green-300 text-green-900 cursor-pointer">Add Data</span>



<app-table [tableHeader]="tableHeader" [tableData]="studentData" (respose)="deleteItem($event)"></app-table>
